<!DOCTYPE html>

{% load static %}

<html>
  <head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Alumni Reach | Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

  <!-- Custom styles for Alumni Reach-->
  <link href="{% static 'css/ar.css' %}" rel="stylesheet">

</head>
  <body class="ui_dashboard">
  	<!-- wrapper -->
  	<div id="wrapper">

  		<!-- sidebar -->
  		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="alumni_reach sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'Homepage' %}">
        <div class="sidebar-brand-text mx-2">
            <img class="ar_logo" src="{%static './images/logo_465x123.png' %}" />
        </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <li class="nav-item">
      <a class="nav-link collapsed active" href="{% url 'Dashboard View' %}" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-desktop"></i>
          <span>Dashboard</span>
        </a>
       </li>


      <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'Members View' %}" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-address-card"></i>
          <span>Members</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">LOREM IPSUM</h6>
            <a class="collapse-item" href="login.html">Lorem Ipsum</a>
            <a class="collapse-item" href="register.html">Lorem Ipsum</a>
            <div class="collapse-divider"></div>
            <h6 class="collapse-header">LOREM IPSUM 2</h6>
            <a class="collapse-item" href="login.html">Lorem Ipsum</a>
            <a class="collapse-item" href="register.html">Lorem Ipsum</a>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" aria-expanded="true">
          <i class="fas fa-fw fa-list-alt"></i>
          <span>Events</span>
        </a>
       </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-briefcase"></i>
          <span>Jobs</span>
        </a>
       </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-comments"></i>
          <span>Forums</span>
        </a>
       </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-users"></i>
          <span>Groups</span>
        </a>
       </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-file-powerpoint"></i>
          <span>Projects</span>
        </a>
       </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-sliders-h"></i>
          <span>Campaign Manager</span>
        </a>
       </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-mouse-pointer"></i>
          <span>Engagement Manager</span>
        </a>
       </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-play-circle"></i>
          <span>Media Center</span>
        </a>
       </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
  		<!-- sidebar end -->

  		<!-- inner wrapper -->
  		<div id="content-wrapper" class="d-flex flex-column">
  			<div id="content">
  				<!-- header logedin -->
  				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">3+</span>
              </a>
              <!-- Dropdown - Alerts -->
<!-- <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 12, 2019</div>
                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-donate text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 7, 2019</div>
                    $290.29 has been deposited into your account!
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 2, 2019</div>
                    Spending Alert: We've noticed unusually high spending for your account.
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
              </div> -->
            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">7</span>
              </a>
              <!-- Dropdown - Messages -->
<!--               <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                    <div class="status-indicator"></div>
                  </div>
                  <div>
                    <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                    <div class="small text-gray-500">Jae Chun · 1d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                    <div class="status-indicator bg-warning"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
                    <div class="small text-gray-500">Chicken the Dog · 2w</div>
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
              </div> -->
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              	<img class="img-profile rounded-circle" src="{{ icons }}">
                <span class="ml-2 d-none d-lg-inline text-gray-600 small">Sonia Gillebert</span>
              </a>
              <!-- Dropdown - User Information -->
<!--               <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div> -->
            </li>

          </ul>

        </nav>
  				<!-- header logedin end -->

  				<!-- dashboard network overview page content -->
          <div class="dashboard_network_overview container-fluid">
            <div class="row">
              <div class="overview_top_list alumni_card card shadow col-4">
  <div class="card-header">
      <div class="overview_total_alumnis">{{alumni_count}}</div>
    <div class="overview_total_alumnis_info">
      <span>Alumni</span>
      <span>Lorem Ipsum dolor sit amet</span>
    </div>
  </div>
  <div class="card-body">
    <ul class="">
    {% for alumni in alumni_top_4 %}
      <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="{% url 'Member Profile View' alumni.id %}"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
          <span class="overview_top_list_name">{{alumni.first_name}} {{alumni.last_name}}</span>
          <span class="overview_top_list_company">{{alumni.company}}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
              <div class="overview_skills_list alumni_card card shadow col-8">
  <div class="card-header">
    <div class="category_icon">
      <img class="category_icon_img" src="https://place-hold.it/21x25" />
    </div>
    <h6 class="category_list_title">Skills</h6>
    <div class="category_list_subtitle">The Top 20 skills of our Alumni</div>
  </div>
  <div class="card-body">
    <ul class="overview_skills_list_ul">
        {% for skill in sorted_skills %}
      <li class="nav-item dropdown no-arrow">
      <div class="major_title">{{skill.0}}</div>
        <div class="major_quantity">
            <span class="major_quantity_value">{{skill.1}}<span>&#37;</span></span>
          <span class="major_quantity_bar"></span>
          <span class="major_quantity_icons">
            <img src="https://source.unsplash.com/QAB-WJcbgJk/20x20" />
            <img src="https://source.unsplash.com/QAB-WJcbgJk/20x20" />
            <img src="https://source.unsplash.com/QAB-WJcbgJk/20x20" />
            ...
          </span>
          <a class="major_quantity_total">
              {{skill.2}}
          </a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
            </div>
            <div class="row">
                  <div class="overview_current_employers alumni_card card shadow col-4">
      <div class="alumni_card card-header py-3">
        <div class="alumni_card_title">Current Employers</div>
        <div class="alumni_card_subtitle">Top 20 most popular</div>
      </div>
      <div class="card-body">
        <div class="scroll_list">
          <div class="scroll_list_header">
            <h1>Lorem</h1>
          </div>
          <ul class="scroll_list">
            {% for company in company_top_20 %}
            <li>{{company.company}} {{company.total}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="alumni_card card shadow col-4">
      <div class="alumni_card card-header py-3">
        <div class="alumni_card_title">Locations</div>
        <div class="alumni_card_subtitle">Top 10 regions</div>
      </div>
      <div class="card-body">
        <div class="scroll_list">
          <div class="scroll_list_header">
            <h1>Lorem</h1>
          </div>
          <ul class="scroll_list">
            {% for location in location_top_10 %}
            <li>{{location.location}} {{location.total}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="alumni_card card shadow col-4">
      <div class="alumni_card card-header py-3">
        <div class="alumni_card_title">Education</div>
        <div class="alumni_card_subtitle">Most alumni graduated from</div>
      </div>
      <div class="card-body">
        <div class="scroll_list">
          <div class="scroll_list_header">
            <h1>Lorem</h1>
          </div>
          <ul class="scroll_list">
              {% for school in unique_schools %}
              <li>{{school.0}} {{school.1}}</li>
              {% endfor %}
          </ul>
        </div>
      </div>
    </div>

      <div class="alumni_card card-header py-3">
        <div class="alumni_card_title">Next Employers</div>
        <div class="alumni_card_subtitle">Top 5 most popular</div>
      </div>
      <div class="card-body">
        <div class="scroll_list">
          <div class="scroll_list_header">
            <h1>Lorem</h1>
          </div>
          <ul class="scroll_list">
            {% for employer in next_employers %}
            <li>{{employer.0}} {{employer.1}}</li>
            {% endfor %}
          </ul>
        </div>
            </div>
          </div>
  				<!-- dashboard network overview page content end -->
  			</div>
  		</div>
  		<!-- inner wrapper end -->

  	</div>
  	<!-- wrapper end -->
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
  </body>
</html>